---
import {Icon} from 'astro-icon/components'

interface Props {
    category: string;
    icon: string;
    question: string;
    color: string;
}

function hexToRgbA(hex) {
    var c;
    if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
        c = hex.substring(1).split('');
        if (c.length == 3) {
            c = [c[0], c[0], c[1], c[1], c[2], c[2]];
        }
        c = '0x' + c.join('');
        return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ',0.2)';
    }
    throw new Error('Bad Hex');
}

const {category, icon, question, color} = Astro.props;
---

<div
        style={{
            border: `solid 4px ${color}`,
            background: hexToRgbA(color),
            borderRadius: '16px',
            maxWidth: '420px',
            display: 'flex',
            alignItems: 'center',
            justifyContent: 'center',
            flexDirection: 'column',
            padding: '24px',
        }}
>
    <Icon name={icon} size={14} style={{color}}/>
    <p style={{fontSize: '12px', margin: 0, color}}>
        {category.toUpperCase()}
    </p>
    <p style={{
        fontSize: '24px',
        textAlign: 'center'
    }}>
        {question}
    </p>
</div>

<style>
    promptcard {
    }
</style>