---
import {Icon} from 'astro-icon/components'
import {convertHexToRgbA} from "../shared/utils";

const {props} = Astro;
---

<div
        class="prompt-card"
        style={{
            borderColor: props.color,
            background: convertHexToRgbA(props.color),
        }}
>
    <Icon name={props.icon} size={14} style={{color: props.color}}/>
    <p class="prompt-pre-heading" style={{color: props.color}}>
        {props.category.toUpperCase()}
    </p>
    <p class="prompt-question">
        {props.question}
    </p>
</div>

<style>
    .prompt-card {
        border-style: solid;
        border-width: 4px;
        border-radius: 16px;
        max-width: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 24px;
    }

    .prompt-pre-heading {
        margin: 0;
        font-size: 12px;
        font-weight: bolder;
    }

    .prompt-question {
        font-size: 24px;
        text-align: center;
    }
</style>