---
import {Icon} from 'astro-icon/components'
import {convertHexToRgbA} from "../utils/styles";
import {Card} from "../utils/types";

const {category, icon, question, color}: Card = Astro.props;
---

<div
        class="prompt-card"
        style={{
            borderColor: color,
            background: convertHexToRgbA(color),
        }}
>
    <Icon name={icon} size={14} style={{color}}/>
    <p class="prompt-pre-heading" style={{color}}>
        {category.toUpperCase()}
    </p>
    <p class="prompt-question">
        {question}
    </p>
</div>

<style>
    .prompt-card {
        border-style: solid;
        border-width: 4px;
        border-radius: 16px;
        max-width: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 24px;
    }

    .prompt-pre-heading {
        margin: 0;
        font-size: 12px;
        font-weight: bolder;
    }

    .prompt-question {
        font-size: 24px;
        text-align: center;
    }
</style>